@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: conic-gradient(at 102% center, rgb(219, 231, 280), rgb(79, 94, 115), rgb(219, 231, 280));
}

.alvaro-container {
    /* TODO: Decide if proximity or mandatory */
    @apply  m-0 p-0 relative h-full overflow-x-hidden overflow-y-scroll snap-y snap-mandatory overscroll-y-contain;
}

.spin-animate{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
       from {
         transform:rotate(0deg);
       }
       to {
         transform:rotate(360deg);
       }
     }
