


.footer-fixed {
    position: fixed; /* Position the footer absolutely within the parent container */
    bottom: 0;
    left: 0;
    width:100%;
    background-color: #333;
    color: #fff;
    text-align: center;

}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-title {
    font-size: 18px;
    margin-top: 10px;
}

.footer-image {
    max-width: 36px;
    margin: 10px 0;
}

.footer-text {
    font-size: 16px;
    margin-bottom: 30px;
}
