.stdButton{
    @apply bg-slate-600 rounded-lg px-6 py-3 text-white font-bold;
}
.stdInput{
    @apply bg-slate-400 rounded-md px-6 py-3 text-black font-bold opacity-50 border border-slate-800;


}
.App {
    text-align: center;

}

h1 {
    font-size: 24px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    margin: 20px 10%;
    min-width:25%;
    max-width: 100%;
    gap: 10px;
    align-items: center;
}
.carousel-status{
    display: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.center-margin{
    margin-top:-100px;
}
.button-container {
    position:relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 100px 10%;
    margin-bottom: -10px !important;



}

.top-right-button {
    position: relative;
    padding: 10px 10px;

    cursor: pointer;

}
.passwordPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    z-index:1000;
    justify-content: center;
    align-items: center;
    transform:scale(1.5);
}
.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:2500;
}
body{
    background: white;
}

.body-padding{
    padding: 50px 100px;
}
.text{
    text-align: left;
}
.banner img{
    width: 100%;
    height: auto;
}
.contact-table {
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(118, 135, 155, 0.37);
}
.page-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}
.main-title {
    font-size: 4em;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin:0 100px;
}

.page-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
}
.see-more-link{
    font-size: 16px !important;
}

.nav-bar-text{
    font-size:14px !important;
}
.nav-bar-submenu-text{
    font-size:10px !important;
}
.contact-table td {
    padding: 10px;
    border: 1px solid rgb(101, 116, 140);
}
.contact-table strong {
    font-weight: bold;
}
.page-content {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 100px;
}
.about-me-info{
    margin: 50px 15%;
    justify-content:space-between !important;
    transform: scale(1.25);

}
.info-page{
    align-items: flex-start !important;
}
.page-margin{
    margin-bottom: 5%;
    min-width: 40em;
    margin-top:200px;

}

.carousel-container-portrait {
    padding: 0 20px;
width: 30%;
    min-width:400px;
    margin:10px 0;

}
.carousel-container-landscape {
    padding: 0 20px;
    width: 40%;
    margin:10px 0;
    min-width:600px;

}
.text-content {
    width: 40%;
    padding: 0 20px;

    justify-content:center;
}
.resume-text{
    font-size:24px;
}
.about-me-text{
    font-size:36px;
}
@media screen and (max-width: 40em) {
    .body-padding{
        padding: 50px 25px;
    }
    .page-margin{
        margin-top:10%;
        margin-bottom:50%;
    }
    .page-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 25px;
        margin: 0;
    }

}
@media screen and (max-width: 80em) {
    .page-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 25px;
        margin: 0;
    }
    .passwordPage {

        transform:scale(1.25);
    }
    .carousel-container-landscape {
        width: 100%;
    }

    .carousel-container-portrait {
        width: 100%;
    }

    .text-content {
        width: 100%;
    }
}
